.chat-header {
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    height: 75px;
    padding: 8px 20px;
}

.chat-header p {
    padding: 15px;
    margin: 5px 10px 0;
    color: #fff;
    font-size: 20px;

}

.chat-header .line {
    width: 90%;
    border-top: 2px solid rgb(194, 194, 194);
    margin: 8px auto;
}

.chat-header .spacer{
    flex-grow: 1;
}
.chat-header i {
    padding-top: 19px;
    padding-right: 15px;
    font-size: 25px;
    color: white;
}
.chat-header.close{
    display: none;
}