.small {
    width: 60px;
    height: 60px;
    background: #ccc;
    border-radius: 50%;
    overflow: hidden;
}

.big {
    width: 150px;
    height: 150px;
    min-height: 150px;
    margin: 20px auto;
    background: #ccc;
    border-radius: 50%;
    overflow: hidden;
}
.small img{
    width: 100%;
}
.big img{
    width: 100%;
}

.big img{
    width: 100%;
}
