
.add-frend{
    height: 100%;
    width: 100%;
    margin: auto;
    align-items: center;
    text-align: center;
}

.add-frend p{
    font-size: 36px;
    font-style: oblique;
    color: rgb(0, 0, 43);
}

.add-frend input{
    border-radius: 3px ;
}

.frend-search{
    margin-top: 18px;
    height: 100%;
    width: 90%;
}
.frend-search>div{
    display: flex;
    height: 100%;
    width: 100%;
}
.frend-search>div>p{
    margin-top: 18px;
    margin-left: 10px;
    font-size: 24px;
}
.add-frend-con{
    height: 0;
    overflow: hidden;
}
.add-frend-con.open{
    height: 100%;
    width: 100%;
    transition: height 0.3s ease-out;
}